@charset "utf-8";
/* CSS Document */

/* Overrides to Default Properties */

html {
	min-height: 100%; /* SF */
	position: relative; /* SF */
}

body {
	margin: 0;
	background-color: #e9ebee;
}

/* Primary Containers */

header {
	height: 250px;
}

main {
	display: block; /* Fix for IE11 (treats <main> as display:inline, breaks SF) */
	margin-bottom: 75px; /* SF: Reduce Height By Footer Height; Must Be >= Footer Height */
}

footer {
	bottom: 0; /* SF: Always Position At Bottom Of Screen */
	height: 50px; /* SF: Set #upper-container margin-bottom >= This Value */
	position: absolute; /* SF: Remove From Document Flow */
	width: 100%; /* SF: Absolutely-Positioned Elements Need An Explicit Width */
}

header, footer {
	background-color: #2d2e2f;
	box-shadow: 0 0 4px 2px #2d2e2f;
}

/* Secondary Containers */

.center {
	height: 100%; /* Force header To Fill Parent Container (upper) */
	margin: auto; /* Center */
	width: 300px; /* Set Width; Required For margin: auto */
}

/* General Classes */

.social-media-item {
	
	height: 50px;
	width: 50px;
	margin: 5px;
}

.temporarily-hide {
	display: none;
}

/* Content Elements */

#profile-picture {
	margin: 0;
}

#profile-picture img {
	border: 3px solid #BADA55;
	border-radius: 10px;
	display: block; /* Fix Post-Whitespace From Default inline Display */
	height: 300px;
	margin-left: -3px; /* Compensate for Border Width */
	margin-top: -225px; /* Move Up Into Header Area */
	width: 300px;
}

#profile-picture figcaption {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin: 10px 0 5px;
	text-align: center;
}

nav {
	font-size: 0; /* Fix Whitespace Between Social Media Icons */
}

nav ul {
	padding-left: 0;
	list-style-type: none;
}

nav ul li {
	display: inline-block; /* Float Social Media Icons */
}